---
import { SITE } from "../config";
---

<!-- Header -->
<header id="header" class="alt">
    <h1><a href="/">{SITE.author}</a></h1>
    <nav id="nav">
        <input type="checkbox" id="menu-toggle" class="menu-toggle" />
        <label for="menu-toggle" class="menu-icon">
            <span></span>
            <span></span>
            <span></span>
        </label>
        <ul class="menu">
            {
                SITE.nav.map((item) => (
                    <li>
                        <a href={item.link}>{item.text}</a>
                    </li>
                ))
            }
        </ul>
    </nav>
</header>
